.technologies {
  display: flex;
  height: 100%;
  width: 100vw;
  background-color: #e0e0e0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 32px 0 32px;
}

.technologiesDescription {
  display: block;
  padding: 0 auto 0 auto;
  max-width: 460px;
  margin-bottom: 16px;
  @media (max-width: 559px) {
    padding: 0 64px;
  }
  @media (max-width: 422px) {
    padding: 0 32px;
  }
}

.technologiesIconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 12px 0 12px;

  .technologiesIcon {
    margin: 0 4px 0 4px;
    .technologiesIconThumb {
      width: 40px;
    }
  }

  span {
    font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #223843;
    text-decoration: none;
    font-size: 0.5rem;
  }
}
