.heroBlog {
  padding: 0 !important;
  height: 320px;
  width: 100%;
  background: url(../../assets/ny-bg.jpg) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}