.hero {
  display: flex;
  position: relative;
  padding: 0 !important;
  height: 360px;
  width: 100vw;
  background-color: #3c81b5;
}
.heroRocket {
width: 360px;
height: 360px;
margin: auto;
padding: 16px;
}

.heroHeader {
  position: absolute;
}
