.contact {
  display: flex;
  height: 100%;
  background-color: #e0e0e0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 32px 0 32px;

  a {
    color: #1c77c3;
    text-decoration: none;
  }
}

.contactDescription {
  display: block;
  padding: 0 auto 0 auto;
  max-width: 460px;
  @media (max-width: 559px) {
    padding: 0 64px;
  }
  @media (max-width: 422px) {
    padding: 0 32px;
  }
}

.contactSocialMedia {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 24px;
  margin: 32px 0 32px;
  justify-content: center;

  @media (max-width: 425px) {
    grid-template-columns: 50% 50%;
  }

  .contactSocialMediaItem {
    max-width: 90px;
    a,
    span {
      font-family: brandon-grotesque, HelveticaNeue-Light,
        "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
        "Lucida Grande", sans-serif;
      color: #1c77c3;
      text-decoration: none;
    }
  }
}
