.experienceCard {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(200px, 600px);
  margin: 12px 0 24px 0;
  padding: 0 auto 0 auto;
  grid-gap: 24px;
  gap: 24px;
  justify-content: center;
  width: 100%;
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  }
}

.experienceCardImageSection {
  display: block;
  justify-self: center;
  align-self: center;
  margin: 16px;
  .experienceCardImage {
    border-radius: 25%;
    width: 120px;
    overflow: hidden;
  }
}

.experienceCardInformationSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 32px;

  @media (max-width: 623px) {
    align-items: center;
  }

  .experienceCardTitle {
    font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.1;
    font-size: 1.4em;
    font-weight: bold;
    color: #F4FFFD;
    text-decoration: none;
    margin-bottom: 8px;
  }
  .experienceCardRole {
    font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #ED254E;
    margin-bottom: 4px;
  }

  .experienceCardDate {
    font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #7C9885;
    margin-bottom: 4px;
    font-style: italic;
  }

  .experienceCardLocation {
    font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #EAEAEA;
    margin-bottom: 4px;
  }

  .experienceCardDescription {
    font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color: #9BA9BF;
    text-decoration: none;
  }
}
