.accomplishments {
  display: flex;
  height: 400px;
  width: 100vw;
  background-color: #e0e0e0;
  flex-direction: column;
  align-items: center;

  @media (min-width: 560px) {
    padding: 0 128px;
  }
  @media (max-width: 559px) {
    padding: 0 64px;
  }
  @media (max-width: 422px) {
    padding: 0 32px;
  }
}
 .accomplishmentsCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
 }